html {
    scroll-behavior: smooth;
  }
body{font-family: 'Roboto', sans-serif;}
.mypara{
    font-size: xx-large;
    font-weight: bolder;
    color:mediumblue;
}
.para{
    font-size: large;
    font-weight: bold;
    color:green;
}
.card-title{
    color:darkred;
    font-size:x-large;
    text-align: center;
    font-weight: bolder;
}
.card-text{
    font-weight: bolder;
    color:rgb(231, 184, 133);
}
  .footer {
      
      background-color:darkgray;
  }
  .style{
      color:rgb(85, 75, 230) ;
      font-style:inherit;
      font-weight: bold;
  }
  #aboutus{
     
      border-radius: 10px;
  }
  .aboutus{
      display: inline-block;
      float:right;
      padding: 3px;
  }
 .cardbody{
     width: 33px;
 }
 
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .button{
      background-color: rgb(33, 85, 87);
      color:black;
  }
  #scroll-transition-about-us{
    scroll-behavior: smooth;
  }
  #scroll-transition-contact-us{
    scroll-behavior: smooth;
  }